* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: sticky;
  top: 0;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("/images/img_homepage_slider1.jpg");
  background-position: top;
  background-size: cover;
  position: sticky;
  top: 0;
}

.header nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 112px;
}
.header nav .menu {
  position: sticky;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header nav .menu .menu-item {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.header nav .menu .menu-items1 {
  width: 110px;
  color: white;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  font-size: 18px;
}
.header nav .menu .menu-items2 {
  width: 110px;
  color: white;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  font-size: 18px;
}
.header nav .menu .menu-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header nav .menu .menu-item p {
  letter-spacing: 0.5em;
}

.header .Hero {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .Hero h1 {
  width: 80%;
  height: 100px;
  font-size: 4em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
.header .Hero p {
  color: white;
  font-size: 38px;
}
.p2 {
  position: relative;
  top: 10px;
}
.p1 {
  margin-bottom: 20px;
  padding-top: 5px;
}

.Signature {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.Signature h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 5px;
  border-bottom: solid 1px black;
}
.Signature p {
  text-align: center;
}

.Signature .collection {
  width: 80%;
  display: flex;
}
.Signature .collection .collection-cart {
  width: 33%;
  height: 400px;
}
.Signature .collection .collection-cart img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Signature2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.Signature2 h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 5px;
  object-fit: contain;
  border-bottom: 1px solid black;
}
.Signature2 p {
  text-align: center;
}

.Signature2 .collection {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.Signature2 .collection .collection-cart {
  width: 33%;
  height: 400px;
}
.Signature2 .collection .collection-cart img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main2 {
  background-color: rgba(244, 239, 222, 255);
  width: 100%;
  height: 2000px;
  position: absolute;
  top: 3500px;
}
.main2 .header-title {
  display: block;
  font-weight: 400;
  font-size: 65%;
  font-family: Playfair Display SC, serif;
  display: flex;
  align-items: Center;
  position: relative;
  top: 90px;
  flex-direction: column;
}
.p3 {
  font-size: 64px;
  font-style: italic;
  font-family: Playfair Display SC, serif;
}
.p2 {
  margin-bottom: 10px;
}
.p4 {
  color: #1d1a19;
  font-size: 1.16667rem;
  line-height: 40px;
  width: 60%;
  text-align: center;
  font-family: Alice, serif;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.zuragnuud {
  display: flex;
  position: relative;
  top: 200px;
  height: 800px;
  justify-content: center;
  text-align: center;
}
.zurag1 {
  height: 282px;
  width: 340px;
}
.prem {
  width: 31.76157%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p5 {
  font-family: Playfair Display SC, serif;
  font-size: 2rem;
  font-weight: 400;
  border-bottom: 1px solid black;
  width: 80%;
}
.sub {
  position: relative;
  top: 10px;
  width: 340px;
  font-family: Alice, serif;
  font: inherit;
  font-style: thin;
  line-height: 25px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}
.zurag {
  width: 100%;
}
.footer {
  position: absolute;
  top: 5100px;
  background-color: #dba539;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cat {
  color: white;
  position: relative;
  font-size: 15px;
  position: relative;
  top: -70px;
  letter-spacing: 10px;
}
.cat-img {
  position: relative;
  top: -80px;
}
.p6 {
  color: white;
}
.footer-end {
  background-color: #805f1e;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 190px;
}
.footer-text {
  color: white;
}
.p6 {
  position: relative;
  top: 100px;
  font-size: 32px;
}
